{% extends 'admin/master.html' %}

{% block body %}
<link href="/web/static/css/bootstrap.min.css" rel="stylesheet">
        <div align="center">
            <a href="/"><button type="button" class="btn btn-primary">首页</button></a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('base./account/v1/login/') }}"><button type="button" class="btn btn-primary">登录</button></a>
            {% else %}
            <a href="{{ url_for('base./account/v1/logout/') }}"><button type="button" class="btn btn-primary">注销</button></a>
            {% endif %}
        </div>
{% endblock %}