<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
      {% block style %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL窗口</title>
    <script src="/web/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="/web/static/js/codemirror-5.2/theme/ambiance.css">
<link rel="stylesheet" href="/web/static/js/codemirror-5.2/theme/abcdef.css">
<link type="text/css" rel="stylesheet" href="/web/static/js/codemirror-5.2/lib/codemirror.css" />
<link type="text/css" rel="stylesheet" href="/web/static/js/codemirror-5.2/addon/hint/show-hint.css" />
<script type="text/javascript" src="/web/static/js/codemirror-5.2/lib/codemirror.js"></script>
<script type="text/javascript" src="/web/static/js/codemirror-5.2/mode/sql/sql.js"></script>
<script type="text/javascript" src="/web/static/js/codemirror-5.2/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="/web/static/js/codemirror-5.2/addon/hint/sql-hint.js"></script>
 
  <style>
    body1 {
      text-align: center;
    }

    #sql_cmd1 {
      border: 1px solid #d9d9d9;
      padding: 4px 8px;
      width: 50px;
      height: 200px;
      width: 500px;
    }

    .div_conter1 {
      text-align: center;
      vertical-align: middle;
      padding: 10px;
    }

    .CodeMirror {border: 1px solid black;}
    </style>
      {% endblock %}
</head>
<body>
    {% block content %}
    <h1>SQL窗口</h1>
    <div class="div_conter">
      <textarea id=sql_cmd name="code"></textarea>
    </div>

    <div class="div_conter">
      <button type="button"; onclick="executeSql()">执行</button>
      <button type="button"; onclick="exportSql()">导出</button>
    </div>

    <div id=sql_ret class="div_conter">
    </div>
</body>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("sql_cmd"), {
        lineNumbers: true,
        extraKeys: {"Ctrl": "autocomplete"},//输入s然后ctrl就可以弹出选择项
        mode: {name: "text/x-mysql"},
        styleActiveLine: true,
        theme: "abcdef"//主题
      });
  function executeSql() {
    sql_txt = editor.getValue()

    if (sql_txt == 'undefined' || !sql_txt || !/[^\s]/.test(sql_txt)) {
      alert("sql不能为空")
    } else {
      db_id = "{{ db_id }}"
      $.ajax({
        url:"{{ url_for('base./dms/v1/sql_window/') }}",
        type: "post",
        contentType: "application/json",
        data: JSON.stringify({sql_cmd: sql_txt, db_id: db_id}),
        success:function(result){
        $("#sql_ret").html(result);
        }});
    }
  }


  function exportSql() {
    txt = editor.getValue()
    db_id = "{{ db_id }}"
    $.ajax({
      url:"{{ url_for('base./dms/v1/export_sql/') }}",
      type: "post",
      contentType: "application/json",
      data: JSON.stringify({sql_cmd: txt, db_id: db_id}),
      success:function(result){
        // window.open("https://test-egret.oss-cn-zhangjiakou.aliyuncs.com/Test/dg.xlsx")
        // window.open("dg.xlsx")
        $("#sql_ret").html(result);
      }});
  }
</script>
      {% endblock %}
</html>
